body {
	margin-top: 50px;
	margin-bottom: 20px;
}

img {
	max-width: 100%;
}

#alert-container {
	position: fixed;
	z-index: 1;
	left: 10%;
	right: 10%;
}

.alert {
	cursor: pointer;
}

.alert-top-center {
	text-align: center;
}

.fill-height {
	height: 100%;
}

.vmargin25 { margin-top:25px; }

#cy-container {
	margin-bottom: 5rem;
	height: 150rem;
}

#cy-colors {
	background: -webkit-linear-gradient(left, hsla(204, 100%, 0%, 1),hsla(204, 100%, 20%, 1),hsla(204, 100%, 40%, 1),hsla(204, 100%, 60%, 1),hsla(204, 100%, 80%, 1),hsla(204, 100%, 100%, 1));
	background: -moz-linear-gradient(left, hsla(204, 100%, 0%, 1),hsla(204, 100%, 20%, 1),hsla(204, 100%, 40%, 1),hsla(204, 100%, 60%, 1),hsla(204, 100%, 80%, 1),hsla(204, 100%, 100%, 1));
	border-radius: 10px;
	height: 1.5rem;
	margin-top: 2rem;
}

#cy {
	height: 100rem;
	border: solid 2px;
	margin-bottom: 2rem;
}


#degree-plot {
	height: 50rem;
	margin-bottom: 2rem;
}